body {
    margin: 0;
    background-color: #0b0b0b;
    color: #e0e0e0;
    font-family: "Courier New", monospace;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

header {
    border-bottom: 2px solid #444;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.classified {
    color: #c0392b;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 0.9em;
}

h1 {
    margin: 10px 0;
    font-size: 2.2em;
}

.subtitle {
    color: #aaa;
}

.file {
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 25px;
    background-color: #111;
}

.file h2 {
    margin-top: 0;
    color: #f1c40f;
    font-size: 1.2em;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

ul {
    padding-left: 20px;
}

.redacted {
    background-color: #000;
    color: #000;
    user-select: none;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    color: #777;
    font-size: 0.8em;
    margin-top: 40px;
}
.profile-photo,
.photo-box {
    object-fit: cover;
}
